<!DOCTYPE html>
<html>
    <head>
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
        {% load static from staticfiles %}
        <link href='{% static "map.css" %}' rel='stylesheet' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
        <script src='{% static "map.js" %}'></script>
        <script>
            $(document).ready(function() {
                populateMap();
            });
        </script>
    </head>
    <body>

        <div class='actionBar'><span>Latitude:</span><input id='lat'></input><span>Longitude:</span><input id='long'></input><button id='changeView'>View</button></div>
        <div id='map' class='map'></div>



    </body>
</html>
